<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DigiCreche</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://js.stripe.com/v3"></script>
    {% block style %}{% endblock style %}
</head>

<body>

    {% block content %}{% endblock content %}

    {% block script %}{% endblock script %}
</body>

</html>